<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Coffee to Code</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="What is lorem ipsum">
    <link id="favicon" rel="icon" href="https://freepngimg.com/download/coffee/31398-5-coffee-logo-image.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block tail %}{% endblock %}
  </body>
</html>
