{% import '../components/macros.html' as tools %}
{% extends "base.html" %}
{% block body %}
  <header>
    <img class="header-img" src="https://freepngimg.com/download/coffee/31398-5-coffee-logo-image.png" width="60" heigh="60" />
    <h1>{{ shared.title }}</h1>
    <h2>Turning coffee into code for {{ _years }} years!</h2>
    {% include '../components/breadcrumb.html' %}
  </header>
  <main class="ns-home">
    {{ tools.blocks(page.blocks) }}
    {{ tools.conversionButtons() }}
  </main>
  {% include 'components/footer.html' %}
{% endblock %}
